<app-navbar></app-navbar>
<div class="main">
<div class="registernew">
    <label style="font-weight: bold; font-size: 30px; color: white;">Sign Up</label><br>

    <div>
        <label class="col-sm-2 col-form-label" ><div class="flex"> ID Number *</div></label><br>

        <input type="text" placeholder="E.g. 12345678" class="form-control"/><br>
        <div class="flexcenter">
            <button class="btn btn-primary" routerLink="/signup">Next</button> &nbsp;
            <button class="btn btn-danger" routerLink="/home">Exit</button>
        </div>
    </div>
    <br><br>
    <div>
        <a routerLink="/signin">Proceed to Login?</a>
    </div>
</div>
</div>
