<app-navbar></app-navbar>

<div class="main">
    
    <form action="" class="form">
    <div class="flex">
        <div class="left">
            <b><label for="">BIO DATA</label></b>
            <div>
                <label for="">Full names *</label><br> 
                <input type="text" class="form-control" id="fullname" placeholder="Full name">
            </div><br>
            <div>
                <label for="">Address</label><br>
                <input type="text" class="form-control" id="adress" placeholder="Address">
            </div><br>
            <div>
                <label for="">Phone number</label><br>
                <input type="text" class="form-control" id="phonenumber" placeholder="Phone number">
            </div><br>
            <div>
                <label for="">Email</label><br>
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div><br>
        </div>
        <div class="right">
            <div>
                <label for="">Allergies</label><br>
                <input type="text" class="form-control" id="allergies" >
            </div><br>
            <div>
                <label for="">Blood type</label><br>
                <input type="text" class="form-control" id="bloodtype">
            </div><br>
            <b><label for="">Incase of Emergency</label></b><br>

            <div>
                <label for="">Contact names</label><br>
                <input type="text" class="form-control" id="contactnames" placeholder="Contact names">
            </div><br>
            <div>
                <label for="">phonenumber</label><br>
                <input type="text" class="form-control" id="phonenumber" placeholder="Phone number">
            </div><br>
        </div>
    </div>
    <br>
    <button class="btn btn-primary">Submit</button>
</form>
</div>
