<app-navbar></app-navbar>
<div class="main">
    <div class="registernew">
        <label style="font-weight: bold; font-size: 30px; color: white;">Confirm Identity</label><br>
    
        <div>
            <label class="col-sm-2 col-form-label" ><div class="flex" style="font-weight:bold"> Input secret key *</div></label><br>
    
            <input type="text" class="form-control"/><br>
            <div class="flexcenter">
                <button class="btn btn-primary" routerLink="/medic-dashboard">Next</button> &nbsp;
                <button class="btn btn-danger" routerLink="/home">Exit</button>
            </div>
        </div>
        <br><br>
        <div>
            <a routerLink="/signup">Create an Account?</a>
        </div>
    </div>
    </div>
